@import url(https://fonts.googleapis.com/css2?family=Sen&display=swap);
html, body {
  margin: 0;
  font-family: "Sen", sans-serif;
  color: #292B2C;
  background-color: #DCDCDC;
}

header {
  display: flex;
  flex-direction: row;
}
header :first-child {
  margin-left: auto;
}
header :last-child {
  margin-right: 10px;
}
header .header-form {
  position: absolute;
  right: 0;
  width: 25vw;
  padding: 5px;
  background-color: #DCDCDC;
  border: 1px solid black;
}
header .header-form input, header .header-form label {
  width: 100%;
}
header .header-form input {
  margin: auto;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  font-weight: bolder;
  font-size: 1.5rem;
  background: none;
  border: none;
}

main {
  height: 100%;
}

#title {
  text-align: center;
}

#list {
  width: 80vw;
  margin: auto;
  border-collapse: separate;
}
#list .list-item {
  background-color: whitesmoke;
  text-align: center;
}
#list .list-item :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#list .list-item :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#list .list-item .item-status {
  padding: 10px;
  font-size: 3rem;
  width: 1em;
}
#list .list-item .item-name {
  font-size: 2rem;
  overflow-x: auto;
}
#list .list-item .item-price {
  overflow-x: auto;
  font-size: 2rem;
  width: 3em;
}
